<li>
  <%= @restaurant.name %>
  <%= @restaurant.address %>
  <%= @restaurant.phone_number %>
  <%= @restaurant.category %>
</li>

<% @reviews.each do |review| %>
<p><%= review.content %> | <%= review.rating %></p>
<% end %>

<%= link_to 'add a review', new_restaurant_review_path(@restaurant) %>
<%= link_to 'back', restaurants_path %>
